<!DOCTYPE html>
<html lang="en">
<head>
    {{>adminHead}}

    

</head>
<body style="height: 100%;">
              <div class="main-nev">
                <div class="border">
                    <p>h</p>
                </div>
                <img src="/images/icons8.png" alt="">
                <h1>The Best University</h1>

      

                      {{!-- <div class="container"> --}}
                      
                        {{!-- <section class="section-content py-3"> --}}
                          {{!-- <div class="row"> --}}
                            {{!-- <aside class="col-lg-3"> --}}
                              <!-- ============= COMPONENT ============== -->
                            
                              <nav class="sidebar">
                                <ul class="nav flex-column" id="nav_accordion">
                                   <li class="nav-item">
                                      <a class="nav-l" href="index"><i class="fas fa-desktop"></i>Dashboard</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-l" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"><i class="fas fa-user-tie"></i> professors 
                                         </a>
                                    <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                                      <li><a class="nav-l1" href="allprofessors">All professors </a></li>
                                      <li><a class="nav-l1" href="addprofessors">Add professors </a></li>
                                      {{!-- <li><a class="nav-l1" href="editprofessors">Edit professors </a> </li> --}}
                                    </ul>
                      
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-l" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> <i class="fas fa-user-friends"></i>students  </a>
                                    <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                                      <li><a class="nav-l1" href="allstudents">All students</a></li>
                                      <li><a class="nav-l1" href="addstudents">Add students</a></li>
                                      {{!-- <li><a class="nav-l1" href="editstudents">Edit students</a></li> --}}
                                      {{!-- <li><a class="nav-l" href="#">Submenu item 6 </a></li> --}}
                                    </ul>
                                  </li>

                                    <li class="nav-item">
                                    <a class="nav-l" data-bs-toggle="collapse" data-bs-target="#menu_item" href="#"><i class="fas fa-book"></i> courses
                                         </a>
                                    <ul id="menu_item" class="submenu collapse" data-bs-parent="#nav_accordion">
                                      <li><a class="nav-l1" href="allcourse">All courses</a></li>
                                      <li><a class="nav-l1" href="addcourse">Add courses</a></li>
                                      {{!-- <li><a class="nav-l1" href="editcourse">Edit courses</a></li> --}}
                                      {{!-- <li><a class="nav-l" href="#">Submenu item 6 </a></li> --}}
                                    </ul>
                                  </li>
                                  
                                  <li class="nav-item">
                                    <a class="nav-l" href="login">Login </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-l" href="ragister">Ragister </a>
                                  </li>
                      
                                 
                                </ul>
                              </nav>
                              
                              <!-- ============= COMPONENT END// ============== -->
                            </aside>
                      
                          </div>
                        </section>
                      
                      </div>

                </div>
</body>
</html>