<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

         <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            {{!-- logo --}}
            <a class="navbar-brand" href="#"><img src="/images/icons8.png" /> </a>
            {{!-- <h1 style="color:rgb(180, 240, 240);  font-weight: 700;">UNIVERSITY</h1> --}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mx-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="courses">Courses</a>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li> --}}
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li> --}}

                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="gallery">Gallery</a></li>
                           
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="event">Events</a></li>
                        </ul>
                    </li>
                    {{!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>  --}}
                     <li class="nav-item">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>

                    {{!-- <li class="nav-item1">
                        <a class="nav-link" href="login">Login</a>
                    </li> --}}
                </ul>
                <button class="login-btn"><a href="login">Login</a></button>
            </div>
        </div>
    </nav>
</body>
</html>