<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

      {{>nevbar}}

        <div class="carousel-inner1">
            <div class="carousel-item1 active">
                    <img src="/images/slide2.jpg" class="d-block w-100" alt="...">
                    {{!-- <div class="carousel-caption d-none d-md-block"> --}}
                       
                        <div class="carousel">
                                 <h1>EVENTS</h1>
                        </div>
                        
                    {{!-- </div> --}}
                </div>
        </div>
    

        {{!-- event --}}
       
            <div class="event-main">
                <div class="event-img">
                    <img src="/images/event1.jpg" alt="...">
                </div>
            
                <div class="event-d">
                    <h3>Business Conference</h3>
                    <p>A business conference is held for people working in the same company or industry. They come together to
                        discuss new trends and opportunities pertaining to the business</p>
                    <p class="card-text"><small class="event-s">Speaker : John Sminth</small></p>
                    <button>Read More -></button>
                </div>
            </div>
            
            
            <div class="event-main1">
            
                <div class="event-d">
                    <h3>Craft Workshops</h3>
                    <p>A craft workshop is hosted by a craft tutor to share and teach others about their skill in a certain craft,
                        such as pottery, sewing and many more.</p>
                    <p class="card-text"><small class="event-s">Speaker : Alexa Zone</small></p>
                    <button>Read More -></button>
                </div>
            
                <div class="event-img1">
                    <img src="/images/event2.jpg" alt="...">
                </div>
            </div>
            
            <div class="event-main2">
                <div class="event-img">
                    <img src="/images/event3.jpg" alt="...">
                </div>
            
                <div class="event-d">
                    <h3>Mentorship Program</h3>
                    <p>A mentoring program is a way for organisations to give employees the opportunity to be a mentor or receive mentorship from a senior leader.</p>
                    <p class="card-text"><small class="event-s">Speaker :  Avil Mex</small></p>
                    <button>Read More -></button>
                </div>
            </div>
        
             <div class="event-main1">
            
                <div class="event-d">
                    <h3>Technical Events</h3>
                    <p>Technical Event. A technical event defines the drivers of the business at the technical level; the things that result in business activity starting or modifying the business process.</p>
                    <p class="card-text"><small class="event-s">Speaker : Venil Monts</small></p>
                    <button>Read More -></button>
                </div>
            
                <div class="event-img1">
                    <img src="/images/event4.jpg" alt="...">
                </div>
            </div>
            
             <div class="event-main2">
                <div class="event-img">
                    <img src="/images/event5.jpg" alt="...">
                </div>
            
                <div class="event-d">
                    <h3>Startup Events</h3>
                    <p>These startup events are the backbone of the startup ecosystem where the participants contribute by sharing their experiences, ideas, and problems with each other.</p>
                    <p class="card-text"><small class="event-s">Speaker :   Mavil Aven</small></p>
                    <button>Read More -></button>
                </div>
            </div>

            {{>footer}}
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</html>