<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

       {{>nevbar}}

        <div class="carousel-inner1">
            <div class="carousel-item1 active">
                    <img src="/images/slide2.jpg" class="d-block w-100" alt="...">
                    {{!-- <div class="carousel-caption d-none d-md-block"> --}}
                       
                        <div class="carousel">
                                 <h1>GALLERY</h1>
                        </div>
                        
                    {{!-- </div> --}}
                </div>
        </div>

        <div class="main-gallery">
                <div class="img1">
                    <img src="/images/01.jpg" alt="">
                </div>

                <div class="img2">
                    <img src="/images/02.jpg" alt="">
                </div>

                <div class="img3">
                    <img src="/images/03.jpg" alt="">
                </div>

        </div>

        
        <div class="main-gallery1">
                <div class="img1">
                    <img src="/images/04.jpg" alt="">
                </div>

                <div class="img2">
                    <img src="/images/05.jpg" alt="">
                </div>

                <div class="img3">
                    <img src="/images/06.jpg" alt="">
                </div>

        </div>

        {{>footer}}
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</html>